
  
  hr {
    border: 1px solid #000;
    margin-top: 50px; 
    margin-right: 100px;
    margin-left: 5px;

  }

h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.green {
    color: rgb(9, 228, 9);
    font-weight: bold;
}
body {

  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
  color: #111;
}

.blue {
    color: rgb(54, 150, 195);
    font-weight: bold;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}